.chi-siamo-foto-cnt {
  width: 70%;
  position: relative;
  margin-top: 7rem;
  margin-left: auto;
}

.chi-siamo-foto-cnt img {
  object-fit: cover;
}

.descrizione-chi-siamo-foto {
  transform-origin: 15px;
  position: absolute;
  right: 84%;
  width: 20%;
  display: inline;
  text-transform: uppercase;
  bottom: 8px;
  transform: rotate(-90deg);
}

.chi-siamo-testo {
  margin-top: var(--marginSection);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chi-siamo-testo p {
  width: 50%;
}

.staff-cnt {
  margin-top: var(--marginSection);
  margin-bottom: var(--marginSection);
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 16rem;
  flex-wrap: wrap;
  width: 100%;
}

.staff-container {
  width: 25%;
}

.staff-container h2 {
  margin-top: 1rem;
}

.staff-container p {
  margin: 1rem 0;
}

.staff-foto img {
  width: 100%;
  height: auto;
}

/* CONTATTI */
/* CONTATTI */
/* CONTATTI */

.contatti-cnt {
  margin-top: 10rem;
  margin-bottom: var(--marginSection);
  display: flex;
  flex-direction: row;
  margin-left: var(--marginLayout);
  margin-right: var(--marginLayout);
}

.contatti-info-cnt {
  width: 50%;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
}

.contatti-info-cnt p {
  margin: 2rem 0;
}

.contatti-info-cnt ul li {
  margin-bottom: 2rem;
  list-style: none;
}

.contatti-form-cnt {
  width: 50%;
}

#instagram path {
  fill: var(--color-text-primary);
}
