html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond', serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.impact {
  font-family: 'Orelega One', sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-color: #cf7f24;
  --extremeFont: clamp(7rem, 19vw, 14rem);
  --largeFont: clamp(3.5rem, 13vw, 14rem);
  --heroFont: clamp(2.5rem, 7.2vw, 9rem);
  --mediumFont: clamp(1.8rem, 6.6vw, 4rem);
  --smallFont: clamp(1rem, 1.2vw, 2rem);
  --tinyFont: clamp(0.7rem, 1vw, 2rem);

  --impactBigLine: clamp(2.2rem, 6.3vw, 5.6rem);
  --impactLargeLine: clamp(2.2rem, 14vw, 12.6rem);

  --marginLayout: 5vw;
  --marginBottomBlog: 3rem;
  --marginFooter: 15vw;
  --marginSection: clamp(15rem, 29.3vw, 22rem);
}

body,
body[data-theme='light'] {
  --color-bg-primary: #d4ccbc;
  --color-text-primary: #181618;
  --color-text-sub: #ffffff;
  --color-text-inverse: #e2ddd6;
  --color-bg-inverse: #171411;
}

body[data-theme='dark'] {
  --color-bg-primary: #171411;
  --color-text-primary: #dbd2c4;
  --color-text-sub: #2a2a2a;
  --color-text-inverse: #201c20;
  --color-bg-inverse: #d4ccbc;
}

body {
  background-color: var(--color-bg-primary);
}

::-moz-selection {
  color: var(--main-color);
}
::selection {
  color: var(--main-color);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-bg-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-text-primary);
}

.extreme-font {
  font-size: var(--extremeFont);
}

.large-font {
  font-size: var(--largeFont);
}

.large-font-inverse {
  font-size: var(--largeFont);
  color: var(--color-text-inverse);
}

.medium-font {
  font-size: var(--mediumFont);
}

.hero-font {
  font-size: var(--heroFont);
}

.small-font {
  font-weight: 400;
  font-size: var(--smallFont);
}

em {
  font-weight: 800;
  font-style: normal;
}

p {
  font-weight: 400;
  font-size: var(--smallFont);
}

.tiny-font {
  font-size: var(--tinyFont);
}

.tiny-font-inverse {
  color: var(--color-text-inverse);
  font-size: var(--tinyFont);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
figcaption,
span {
  font-weight: 400;
  color: var(--color-text-primary);
}

figcaption {
  font-size: var(--tinyFont) !important;
  font-style: italic;
}

li::marker {
  font-weight: 600;
}

textarea {
  resize: vertical;
}

.btn {
  background-color: var(--main-color);
  color: #1a1a1a;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  font-weight: 600;
}

em {
  color: var(--main-color);
}

.bold {
  font-weight: 800;
}

.pointer {
  cursor: pointer;
}

.div-footer {
  position: relative;
  min-height: 100vh;
  padding-top: var(--marginSection);
  z-index: -2;
}

.footer {
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg-inverse);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-bg-primary);
}

.footer-email {
  min-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: var(--color-text-inverse);
}

.footer-informazioni {
  flex-direction: row;
  height: 10%;
  padding: 0 var(--marginLayout);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer span {
  transition: 0.5s ease-in-out;
  cursor: pointer;
  color: var(--color-text-inverse);
}

.footer a {
  font-weight: 600;
  color: var(--color-text-inverse);
}

.footer-informazioni span {
  color: var(--color-text-inverse);
}

@import 'home.css';
@import 'chi-siamo.css';

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* THEME SWITCH */
/* THEME SWITCH */
/* THEME SWITCH */

.theme-toggle {
  position: fixed;
  top: 30px;
  cursor: pointer;
  right: var(--marginLayout);
  font-size: 1.4rem;
  z-index: 9999;
}

/* NAVBAR */
/* NAVBAR */
/* NAVBAR */

.navbar {
  position: fixed;
  top: 20px;
  cursor: pointer;
  left: var(--marginLayout);
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.logo {
  fill: var(--color-text-primary);
  overflow: visible;
  stroke: var(--color-text-primary);
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.san-quirico-archeologia-bio {
  position: absolute;
  left: -300vw;
  width: 50px;
}

.instagram-cnt {
  position: fixed;
  top: 29px;
  z-index: 9999;
  right: 140px;
}

@import 'query.css';
