.home-header-cnt {
  min-height: 100vh;
  position: relative;
  flex-direction: column;
}

.home-header-img-cnt {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-header {
  display: flex;
  flex-direction: row;
  margin-left: var(--marginLayout);
  height: 100vh;
}

.titolo {
  display: block;
  width: 50%;
  text-transform: uppercase;
  padding-right: 13rem;
  z-index: 2;
  color: white !important;
  margin-top: auto;
  margin-bottom: 3rem;
}

.hero-freccia {
  z-index: 6;
  left: 50%;
  bottom: 20px;
  overflow: visible;
  stroke: var(--main-color);
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  position: absolute;
}

.home-header-img-cnt img {
  object-fit: cover;
}

.cover img {
  object-fit: cover;
}

.main-cnt {
  z-index: 3;
  background-color: var(--color-bg-primary);
  padding-top: var(--marginSection);
  padding-bottom: var(--marginSection);
}

.main-cnt div {
  text-align: center;
  width: 72%;
  flex-direction: row;
}

.main-cnt p {
  display: inline;
  margin: 1rem;
  line-height: 7rem;
}

.main-paragraph-image img {
  width: 96px;
  height: 90px;
  margin-bottom: -10px;
}

.main-paragraph-image picture {
  margin-right: 10px;
}

.marquee {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -5rem;
}

.track {
  white-space: nowrap;
}

.track > em {
  font-style: normal;
  margin: 20px 0;
  color: var(--color-text-sub);
  text-transform: uppercase;
}

.foto-san-quirico-1-cnt {
  z-index: 3;
  background-color: var(--color-bg-primary);
  padding-top: var(--marginSection);
  position: relative;
  display: flex;
  justify-content: space-between;
}

.foto-san-quirico-1 {
  width: 57%;
  display: flex;
}

.accordion {
  display: block;
  margin-top: 2rem;
}

.marquee-sezione-cnt {
  position: relative;
  background-color: var(--color-bg-primary);
}

.marquee-sezione {
  position: absolute;
  z-index: 4;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.marquee-sezione-2 {
  position: absolute;
  z-index: 4;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.marquee-sezione img {
  height: 100%;
  transform-origin: bottom;
  width: 30vw;
}

.marquee-sezione-2 img {
  height: 100%;
  width: 30vw;
}

.segno-addizione {
  text-transform: uppercase;
  margin-right: 0.3rem;
  font-weight: 800;
}

.foto-san-quirico-1 picture {
  width: 100%;
}

.foto-san-quirico-1 img {
  width: 100%;
}

.descrizione-foto {
  transform-origin: 15px;
  position: absolute;
  left: 57.5%;
  text-transform: uppercase;
  bottom: 5px;
  transform: rotate(-90deg);
}

.descrizione-foto::first-letter {
  font-weight: 800;
}

.foto-san-quirico-1-paragrafo-cnt {
  padding-right: var(--marginLayout);
  padding-left: 5vw;
  text-align: right;
  width: 40%;
}

.foto-san-quirico-1-paragrafo-cnt p {
  margin-top: 2rem;
}

.foto-san-quirico-2-cnt {
  z-index: 3;
  background-color: var(--color-bg-primary);
  background-color: var(--color-bg-primary);
  padding-top: var(--marginSection);
  display: flex;
  justify-content: space-between;
}

.foto-san-quirico-2-img-cnt {
  width: 40%;
  height: 100%;
}

.foto-san-quirico-2-img-cnt picture img {
  height: 100%;
}

.foto-san-quirico-2-paragrafo-cnt {
  padding: 0 var(--marginLayout);
  width: 60%;
}

.ruota-cnt {
  background-color: var(--color-bg-primary);
  padding-top: var(--marginSection);
  display: flex;
  flex-direction: row;
}

.lista-chiese-container {
  margin: 2rem 0;
}

.ruota-paragrafo-cnt {
  width: 50%;
  padding-right: var(--marginLayout);
}

.ruota-paragrafo-cnt img {
  padding: 4rem 0;
}

.sticky {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100vh;
  left: 30px;
}

.cnt-model {
  width: 50%;
  z-index: 587;
}

.cnt-model:focus {
  border: none;
  outline: none;
  padding: 0;
  border: none;
  background: none;
}

.model {
  z-index: 5;
  width: 100%;
  height: 100%;
}

.form-cnt h6 {
  margin-top: 3rem;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.form input {
  color: var(--color-text-primary);
  background-color: var(--color-text-sub);
  border: none;
  padding: 0.6rem 0.6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  transition: 0.4s ease-in-out;
}

.form input:focus {
  border: none;
  outline: var(--main-color) 1px solid;
  padding-bottom: 1.3rem;
}

.form textarea {
  padding: 0.6rem 0.6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: var(--color-text-sub);
  border: none;
  color: var(--color-text-primary);
  margin-bottom: 1rem;
  transition: 0.4s ease-in-out;
}

.form textarea:focus {
  border: none;
  outline: var(--main-color) 1px solid;
  padding-bottom: 1.3rem;
}
.form label {
  margin: 1rem 0;
  margin-bottom: 0.3rem;
  color: var(--color-text-primary);
}

.form button {
  margin-top: 0.5rem;
}

.archeologia-sezione {
  background-color: var(--color-bg-primary);
  padding-top: var(--marginSection);
}

.archeologia-descrizione {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.archeologia-descrizione h2 {
  width: 60%;
  padding-left: var(--marginLayout);
}

.archeologia-descrizione p {
  width: 40%;
  text-align: right;
  padding-right: var(--marginLayout);
}

.box-fixed {
  position: fixed !important;
}

.box-cnt {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 300vw;
  z-index: 3;
}

.box {
  top: 0;
  left: 0;
  height: 300vw;
  position: absolute;
  width: 100vw;
  z-index: 3;
}

.box1 {
  top: 0;
  left: 0;
  height: 100vh;
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  z-index: 3;
}

.box2 {
  top: 0;
  left: 100vw;
  height: 100vh;
  position: absolute;
  width: 102vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.box3 {
  background-color: var(--color-bg-primary);
  position: absolute;
  top: 0;
  left: 200vw;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  z-index: 3;
}

.box-cnt-2 {
  height: 100vh;
  background-color: var(--color-bg-primary);
  overflow: hidden;
  position: relative;
}

.box3-2 {
  background-color: var(--color-bg-primary);
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.archeologia-foto-1 img {
  position: absolute;
  top: 30%;
  right: -220px;
}

.archeologia-foto-2 img {
  position: absolute;
  top: 10%;
  left: 20%;
}

.san-quirico-descrizione-cnt {
  display: flex;
  padding-top: var(--marginSection);
  flex-direction: row;
}

.san-quirico-descrizione-1 {
  width: 20%;
}

.san-quirico-descrizione-2 {
  padding: 0 6rem;
  padding-left: 8rem;
  text-align: left;
  width: 55%;
}

.san-quirico-descrizione-2 p {
  margin-top: 2rem;
}

.san-quirico-descrizione-2 h3 {
  margin-top: 2rem;
}

.san-quirico-descrizione-3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-left: auto;
}

.immagine-paragrafo {
  height: auto;
  opacity: 0.3;
}

.immagine-paragrafo img {
  height: auto;
  width: 100%;
  margin-top: 2rem;
}

.immagine-paragrafo2 img {
  height: auto;
  width: 100%;
  margin-top: 6rem;
}

.immagine-paragrafo-3 {
  margin-top: 3rem;
}

.immagine-paragrafo-4 {
  margin-top: 0rem;
}

.immagine-paragrafo-5 {
  margin-top: 5rem;
}

.foto-4 {
  width: 50%;
}

.foto-4 h4 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.foto-4-cnt {
  background-color: var(--color-bg-primary);
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: var(--marginLayout);
  padding-right: var(--marginLayout);
}

.foto-archeologica {
  margin-right: var(--marginLayout);
}

.foto-4-archeologia {
  width: 45%;
}

.foto-archeologica-2 {
  margin-left: auto;
}

.foto-4-reperti img {
  width: 100%;
  height: auto;
}

.ruota-cnt h6 {
  margin-top: 4rem;
}

.foto-4-cnt img {
  margin-top: 1rem;
}

.caption-scheletro {
  margin-bottom: 1rem;
}

.ruota-cnt p {
  margin-top: 2rem;
}

.archeologia-descrizione {
  margin-bottom: 2rem;
}
