.home-header-cnt {
  min-height: 100vh;
  position: relative;
  flex-direction: column;
}

.home-header-img-cnt {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 3vw;
  height: 100vh;
}

.titolo {
  display: block;
  width: 50%;
  text-transform: uppercase;
  padding-right: 13rem;
  z-index: 2;
  color: white !important;
  margin-top: auto;
  margin-bottom: 3rem;
}

.hero-freccia {
  z-index: 6;
  left: 50%;
  bottom: 20px;
  overflow: visible;
  stroke: var(--main-color);
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  position: absolute;
}

.home-header-img-cnt img {
  object-fit: cover;
}

.cover img {
  object-fit: cover;
}

.main-cnt {
  margin-top: var(--marginSection);
  margin-bottom: var(--marginSection);
}

.main-cnt div {
  text-align: center;
  width: 72%;
  flex-direction: row;
}

.main-cnt p {
  display: inline;
  margin: 1rem;
}

.main-paragraph-image img {
  width: 90px;
  height: auto;
  margin-bottom: -1rem;
}

.main-paragraph-image picture {
  margin-right: 10px;
}

.marquee {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -5rem;
}

.track {
  white-space: nowrap;
}

.track > em {
  font-style: normal;
  margin: 20px 0;
  color: var(--color-text-sub);
  text-transform: uppercase;
}

.foto-san-quirico-1-cnt {
  margin-top: var(--marginSection);
  position: relative;
  display: flex;
  justify-content: space-between;
}

.foto-san-quirico-1 {
  width: 57%;
  display: flex;
}

.accordion {
  display: block;
  margin-top: 1rem;
}

.marquee-sezione-cnt {
  position: relative;
}

.marquee-sezione {
  position: absolute;
  z-index: 4;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.marquee-sezione-2 {
  position: absolute;
  z-index: 4;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.marquee-sezione img {
  height: 100%;
  transform-origin: bottom;
  width: 30vw;
}

.marquee-sezione-2 img {
  height: 100%;
  width: 30vw;
}

.segno-addizione {
  text-transform: uppercase;
  margin-right: 0.3rem;
  font-weight: 800;
}

.foto-san-quirico-1 picture {
  width: 100%;
}

.foto-san-quirico-1 img {
  width: 100%;
}

.descrizione-foto {
  transform-origin: 15px;
  position: absolute;
  left: 57.5%;
  text-transform: uppercase;
  bottom: 5px;
  transform: rotate(-90deg);
}

.descrizione-foto::first-letter {
  font-weight: 800;
}

.foto-san-quirico-1-paragrafo-cnt {
  padding-right: 5vw;
  padding-left: 5vw;
  text-align: right;
  width: 40%;
}

.foto-san-quirico-1-paragrafo-cnt p {
  margin-top: 1rem;
}

.foto-san-quirico-2-cnt {
  margin-top: var(--marginSection);
  display: flex;
  justify-content: space-between;
}

.foto-san-quirico-2-img-cnt {
  width: 40%;
  height: 100%;
}

.foto-san-quirico-2-img-cnt picture img {
  height: 100%;
}

.foto-san-quirico-2-paragrafo-cnt {
  padding: 0 6vw;
  width: 60%;
}

.ruota-cnt {
  margin-top: var(--marginSection);
  display: flex;
  flex-direction: row;
}

.ruota-paragrafo-cnt {
  width: 50%;
  padding-right: 7%;
}

.ruota-paragrafo-cnt p,
img {
  padding-top: 2rem;
}

.ruota-paragrafo-cnt img {
  padding: 4rem 0;
}

.sticky {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100vh;
  left: 30px;
}

.cnt-model {
  width: 50%;
  z-index: 587;
}

.cnt-model:focus {
  border: none;
  outline: none;
  padding: 0;
  border: none;
  background: none;
}

.model {
  z-index: 5;
  width: 100%;
  height: 100%;
}
