@media only screen and (max-width: 767px) {
  .titolo {
    width: 100%;
  }

  .logo-hero {
    margin-left: 0;
    width: 50px;
    margin-bottom: -0.8rem;
  }

  .hero-freccia-2 {
    width: 43px;
    margin-bottom: -17px;
    margin-left: 0.9rem;
  }

  .main-paragraph-image img {
    object-fit: contain;
    width: auto;
    height: 60px;
  }

  .main-cnt div {
    width: 80%;
  }

  .main-cnt p {
    line-height: 5rem;
  }

  .marquee {
    margin-top: -2rem;
  }

  .marquee-sezione {
    left: 6%;
  }

  .marquee-sezione-2 {
    right: 6%;
  }

  .marquee-sezione img {
    width: 36vw;
    height: auto;
  }

  .marquee-sezione-2 img {
    height: 100%;
    width: 36vw;
  }

  .foto-4 {
    width: 65%;
  }

  .foto-4-cnt {
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .foto-4-archeologia {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  .foto-4-archeologia foto-archeologica-2 {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .foto-san-quirico-1 {
    width: 40%;
  }
  .descrizione-foto {
    left: 40.5%;
  }

  .foto-san-quirico-1-paragrafo-cnt {
    width: 55%;
  }

  .ruota-paragrafo-cnt {
    width: 55%;
    padding-right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .titolo-6 {
    margin-left: 6.4rem;
  }

  .titolo-3 {
    margin-left: 5rem;
  }

  .arrotondata img {
    padding-bottom: 0.3rem;
  }

  .logo-hero {
    margin-left: 0;
    width: 40px;
    margin-bottom: -1.1rem;
  }

  .navbar {
    grid-gap: 2rem !important;
    gap: 2rem !important;
  }

  .hero-freccia-2 {
    width: 33px;
    margin-bottom: -17px;
    margin-left: 0.1rem;
  }

  .titolo-5 {
    margin-left: 2rem;
  }

  .contatti {
    position: fixed;
    right: var(--marginLayout);
    bottom: 20px;
  }
  .instagram-cnt {
    right: 90px !important;
  }
  .foto-san-quirico-2-cnt {
    align-items: center;
  }

  .foto-san-quirico-2-paragrafo-cnt {
    padding: 0 var(--marginLayout);
    width: 90%;
    margin-top: 4rem;
  }

  .foto-san-quirico-2-img-cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .test2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .fig-cnt {
    width: 90%;
    display: flex;
  }

  .titolo {
    padding: 0;
    margin-bottom: 7rem;
  }

  .main-cnt p {
    margin: 0;
    line-height: 3.5rem;
  }

  .test-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-cnt div {
    width: 88%;
  }

  .main-paragraph-image img {
    height: 40px;
  }
  .marquee {
    margin-top: 3rem;
  }

  .marquee-sezione {
    left: 12%;
    top: 51.5%;
  }

  .marquee-sezione-2 {
    display: none;
  }

  .marquee-sezione img {
    width: 80vw;
    height: auto;
  }

  .foto-san-quirico-2-cnt {
    flex-direction: column;
  }

  .foto-archeologica {
    margin: 0;
    margin-top: 3rem;
  }

  .foto-san-quirico-2-img-cnt picture img {
    width: 100%;
  }

  .foto-4-cnt {
    padding-top: 0rem;
  }

  .foto-san-quirico-1-cnt {
    align-items: center;
    flex-direction: column;
  }

  .foto-san-quirico-1 {
    width: 90%;
  }

  .foto-san-quirico-1-paragrafo-cnt {
    width: 90%;
  }

  .foto-san-quirico-1-paragrafo-cnt {
    padding-right: 0;
    padding-left: 0;
    margin-top: 3rem;
  }

  .descrizione-foto {
    display: none;
  }

  .ruota-cnt {
    align-items: center;
    flex-direction: column;
  }

  .cnt-model {
    width: 90%;
    z-index: 587;
  }

  .ruota-paragrafo-cnt {
    width: 89%;
  }

  .archeologia-descrizione {
    flex-direction: column;
  }

  .archeologia-descrizione h2 {
    width: 90%;
    padding-left: 0;
  }

  .archeologia-descrizione p {
    width: 90%;
    margin-top: 3rem;
    text-align: left;
    padding-right: 0;
  }

  .footer-email {
    min-height: 80% !important;
  }

  .social {
    display: none;
  }

  .footer-informazioni {
    flex-direction: column !important;
    height: 20% !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.7rem !important;
  }
}
